<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/15507b22-c1e4-49d5-8522-a13538b51552/resourcegroups/GitHubApi20220801173421ResourceGroup/providers/Microsoft.Web/sites/GitHubApi20220801173421</ResourceId>
    <ResourceGroup>GitHubApi20220801173421ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/15507b22-c1e4-49d5-8522-a13538b51552/resourceGroups/GitHubApi20220801173421ResourceGroup/providers/Microsoft.ApiManagement/service/GitHubApi/apis/GitHubApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://githubapi20220801173421.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>6e4ce12e-ead4-4563-9078-522d3142c4c4</ProjectGuid>
    <MSDeployServiceURL>githubapi20220801173421.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GitHubApi20220801173421</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$GitHubApi20220801173421</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>